res/blockSeedData.json filter=lfs diff=lfs merge=lfs -text
contract/artifacts/contract_DailyStatsContract_sol_DailyStats.bin filter=lfs diff=lfs merge=lfs -text
contract/artifacts/contract_DailyStatsContract_sol_DailyStats.abi filter=lfs diff=lfs merge=lfs -text
